{% extends "_layouts/main" %}

{% block main %}
{% set aboutEntry = entry %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ siteUrl }}"><i class="fal fa-elephant"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">About</li>
  </ol>
</nav>

<section class="container my-5">
  <div class="mb-3 d-flex justify-content-center align-items-center">
    <h2 class="section-heading"><i class="fal fa-elephant"></i> About</h2>
  </div>

  <!-- Tagline -->
  <blockquote class="blockquote blockquote-primary">
    <h5 class="blockquote-heading">{{ aboutEntry.blockquoteHeading }}</h5>
    <p>{{ aboutEntry.blockquoteContent }}</p>
  </blockquote>

  <!-- Banner -->
  {% set bannerImage = aboutEntry.aboutPageBanner.one() %}
  <img
    class="img-fluid shadow-sm mb-3"
    src="{{ bannerImage.getUrl('pageBanner') }}"
    alt="{{ aboutEntry.imageAltText }}">

  <!-- Custom HTML -->
  <div class="mb-5">
    {{ aboutEntry.bodyHtml }}
  </div>
  <hr>

  <div class="mt-5 mb-3 d-flex justify-content-center align-items-center">
    <h3 class="section-heading"><i class="fal fa-users"></i> The Phamily</h3>
  </div>
  <p class="mb-1">
    <i class="fal fa-lightbulb-on fa-fw text-cphy-secondary-dark"></i>&nbsp;
    Founders
  </p>

  {% set profileEntries = craft.entries.section('company')
    .orderBy('profileOrder desc, joinedDate desc')
    .limit(20).all() %}
  <div class="row">

    {% for profileEntry in profileEntries %}
    <div class="col-12 col-lg-4">
      <div class="card shadow-sm border-0 bg-cphy-primary-xlight mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <a href="{{ profileEntry.url }}">
              <img src="{{ profileEntry.profileImage.one().getUrl('cardThumbSm') }}"
                class="card-img"
                alt="{{ profileEntry.title}} profile pic">
            </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                {% if profileEntry.isFounder %}
                  <i class="fal fa-lightbulb-on text-cphy-secondary-dark"></i>&nbsp;
                {% endif %}
                {{ profileEntry.title }}
              </h5>
              <h6>{{ profileEntry.titlePosition }}</h6>
              
              <a href="{{ profileEntry.url }}" class="btn btn-primary btn-sm mt-3">View more <i class="fal fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div><!-- ./row -->
</section>
{% endblock %}