{% extends "_layouts/main" %}

{% block main %}
<section class="landing">
  <div class="landing-inner">
    <div class="landing-content-container d-flex justify-content-center align-items-center">
      
      <div class="text-center">
        <h1 class="display-1 text-cphy-primary"><span class="small">com:</span><span class="text-italic">Phanny</span></h1>
        <p class="h1 text-italic text-cphy-secondary">Phun, phamily phans</p>
      </div>

    </div>
  </div>
</section>

<section class="products py-5">
  <div class="container">
    <div class="mb-5 d-flex justify-content-center align-items-center">
      <h2 class="section-heading-light"><i class="fal fa-pencil-ruler"></i> The work</h2>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="card mb-3 shadow-sm">
          <a href="./product-item.html">
            <img src="./images/bg-landing.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title text-dark"><i class="far fa-browser"></i> Websites</h5>

            <h6><a href="./product-list.html">Featured Website</a></h6>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptas quo exercitationem accusantium velit fugit esse enim harum&hellip;</p>
            <a href="./product-list.html" class="btn btn-primary btn-sm mt-3">View more <i class="fal fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card mb-3 shadow-sm">
          <a href="./product-item.html">
            <img src="./images/bg-landing.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title text-dark"><i class="far fa-globe"></i> Web Apps</h5>

            <h6><a href="./product-item.html">Featured Web App</a></h6>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptas quo exercitationem accusantium velit fugit esse enim harum&hellip;</p>
            <a href="./product-list.html" class="btn btn-primary btn-sm mt-3">View more <i class="fal fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card mb-3 shadow-sm">
          <a href="./product-item.html">
            <img src="./images/bg-landing.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title text-dark"><i class="far fa-mobile"></i> Mobile Apps</h5>

            <h6><a href="./product-item.html">Featured Mobile App</a></h6>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptas quo exercitationem accusantium velit fugit esse enim harum&hellip;</p>
            <a href="./product-list.html" class="btn btn-primary btn-sm mt-3">View more <i class="fal fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card mb-3 shadow-sm">
          <a href="./product-item.html">
            <img src="./images/bg-landing.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title text-dark"><i class="far fa-cloud"></i> Web Services</h5>

            <h6><a href="./product-item.html">Featured Web Service</a></h6>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptas quo exercitationem accusantium velit fugit esse enim harum&hellip;</p>
            <a href="./product-list.html" class="btn btn-primary btn-sm mt-3">View more <i class="fal fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div><!-- ./row -->
  </div><!-- ./container -->
</section>

<section class="phamily py-5">
  <div class="container">
    <div class="mb-5 d-flex justify-content-center align-items-center">
      <h2 class="section-heading"><i class="fal fa-users"></i> The phamily</h2>
    </div>

    <div class="card mb-3 border-0">
      <div class="card-body">
        <h5 class="card-title">We are&hellip;</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="{{ siteUrl }}about" class="btn btn-primary btn-sm mt-3">Find out more <i class="fal fa-arrow-right"></i></a>
      </div>
    </div>

    <p class="mb-0">
      <i class="fal fa-lightbulb-on fa-fw text-cphy-secondary-dark"></i>&nbsp;
      Founders
    </p>
    {% set profileEntries = craft.entries.section('company')
      .orderBy('profileOrder desc, joinedDate desc')
      .limit(6).all() %}
    <div class="row">

      {% for profileEntry in profileEntries %}
      <div class="col-12 col-lg-4">
        <div class="card shadow-sm border-0 bg-cphy-primary-xlight mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <a href="{{ profileEntry.url }}">
                <img src="{{ profileEntry.profileImage.one().getUrl('profileSm') }}"
                  class="card-img"
                  alt="{{ profileEntry.title}} profile pic">
              </a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  {% if profileEntry.isFounder %}
                  <i class="fal fa-lightbulb-on text-cphy-secondary-dark"></i>&nbsp;
                  {% endif %}
                  {{ profileEntry.title }}
                </h5>
                <h6>{{ profileEntry.titlePosition }}</h6>
                
                <a href="{{ profileEntry.url }}" class="btn btn-primary btn-sm mt-3">View more <i class="fal fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div><!-- ./row -->
  </div><!-- ./container -->
</section>
{% endblock %}